html, body
{
	width: 100%;
	height: 100%;
}

body
{
	background-color: #ffffff;
	margin: 0;
	overflow: hidden;
	font-family: arial;
}

#blocker
{
	position: absolute;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0);
}

#auth
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
	background: url(style/loginform.png) no-repeat;
	display: box;
	text-align: center;
}

#LoaderObject
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
	background-image: url(style/loader.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	color: #ffffff;
}

#pLoaderObject
{
	position: absolute;
	bottom: 80px;
	width: 100%;
}

.progress-value
{
	position: absolute;
	left: 50%;
	bottom: 80px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ff0000;
}

.loginform
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: 300;
	font-size: 24px;
	position: absolute;
	top: 550px;
	left: 500px;
}
.loginform input[type="text"]
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:18px;
	width: 130px;
	font-size: 14px;
	border-radius: 3px;
	background: #ffffff !important;
	outline: none;
}

.loginform input[type="password"]
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:18px;
	width: 130px;
	font-size: 14px;
	border-radius: 3px;
	background: #ffffff !important;
	background-color: #ffffff !important;
	outline: none;
}

.loginform input[type="submit"]
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	height: 30px;
	width: 130px;
	border-radius: 4px;
	background: url(style/button1.png) no-repeat;
	outline: none;
}

input { outline: none; }
input:-webkit-autofill
{
	-webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
	-webkit-text-fill-color: #000 !important; /* цвет текста */
	color: #000 !important; /* цвет текста */
}

#instructions
{
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: left;

	cursor: pointer;
}

#chat
{
	position: absolute;
}

#msgChat
{
	width: 250px;
	background-color:transparent;
}

#panel
{
	position: absolute;
	width: 250px;
	height: 100%;
	background-color: #bbbbbb;
	font-family: arial;
	font-size: 14px;
}

#panel2
{
	position: absolute;
	right: 1px;
	width: 150px;
	height: 100%;
	background-color: #bbbbbb;
	font-family: arial;
	font-size: 14px;
}

#Err
{
	width: 240px;
	color: #ff0000;
	text-align: center;
}

#idobj
{
	width: 50px;
	color: #00ffff;
	text-align: center;
}

#eCORE
{
	position: absolute;
	top: 0;
	left: 0;
	/* Scale out 2X from the corner */
	-webkit-transform: scale3d(2.0, 2.0, 1.0);
	-webkit-transform-origin: 0 0 0;
}